<mat-grid-list cols="6" rowHeight="5:1">
  <mat-grid-tile><button [routerLink]="['/category', 'Motorization']">Motoryzacja</button>
  </mat-grid-tile>
  <mat-grid-tile><button [routerLink]="['/category', 'Real Estate']">Nieruchomości</button>
  </mat-grid-tile>
  <mat-grid-tile><button [routerLink]="['/category', 'Toys']">Zabawki</button></mat-grid-tile>
  <mat-grid-tile><button [routerLink]="['/category', 'Electronics']">Elektronika</button></mat-grid-tile>
  <mat-grid-tile> <button [routerLink]="['/category', 'Bike']">Rowery</button></mat-grid-tile>
  <mat-grid-tile> <button [routerLink]="['/category', 'Fashion']">Moda</button></mat-grid-tile>
</mat-grid-list>

