#menu{
  tab-size: 10px;
  display: flex;
  justify-content: flex-start;
  /*border: 2px solid;*/
}

#photos {
  display: flex;
  justify-content: flex-end;
  /*flex-direction: row;*/
  width: auto;
  height: auto;
  /*border: 2px solid;*/
  overflow: auto;
  resize:both;
}
