#container {
  width: 100%;
  margin-left: auto;
}

#menu {
  width: 15%;
  float: left;
  background-color: mediumpurple;
  color: white;
  margin-right: 5px;
}

#photos {
  float: left;
  width: 70%;
  height: 40%;
}

#empty {
  clear: both;
}
