.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://png.pngtree.com/png-clipart/20191121/original/pngtree-cute-llama-avatar-with-a-yellow-background-png-image_5147719.jpg');
    background-size: cover;
  }

  #add_basket_button {
    text-align: center;
  }

  #price_border {
    color: darkorange;
    font-size: large;
    font-style: italic;
  }