<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src= "{{product.productImage}}" alt = "zdjecie">
  <mat-card-content>
    {{product.description}}
  </mat-card-content>
  <mat-card-actions id="add_basket_button">
    <button mat-button (click)="getDescriptionDell()">Pokaż opis</button>
    <button mat-button>Dodaj do koszyka</button>
    <p id="price_border">{{product.price}}{{product.currency}}</p>
  </mat-card-actions>
</mat-card>
