<!--<div id="message">-->
<!--  <h2>Biuro Obsługi Klienta</h2>-->
<!--  <h4>Chcesz dowiedzieć się więcej o meblach z naszej oferty.</h4>-->
<!--  <h4>Chcesz poznać aktualne promocje, dzięki którym zaoszczędzisz pieniądze.</h4>-->
<!--  <h4>Chcesz skorzystać z opcji zakupów na raty.</h4>-->
<!--  <h4>Chcesz złożyć zamówienie telefonicznie. </h4>-->
<!--  <a href="mailto:alukard454@gmail.com"><h4>e-mail: sklep@koxshop.pl</h4></a>-->
<!--  <img src="../../assets/phone.jpg" alt="phone">-->
<!--  <a href="tel:507-388-051"><h4>Infolinia: 123 456 789</h4></a>-->
<!--  <h2>Czynne:</h2>-->
<!--  <h3>poniedziałek-piątek 9:00-21:00 </h3>-->
<!--  <h3>sobota-niedziela: 9:00-18:00</h3>-->
<!--</div>-->

<div id="boarder">
  <app-auction></app-auction>
</div>
