<div id="textAbout">
  <div>
  <div id="text">
  <h1>
    Kim jesteśmy
  </h1>
  <h4>
    Firma KoxSquad powstała z pasji do nowych technologii.
  Do dzielenia się naszą wiedzą. Do projektowania i tworzenia
  użytecznych i nowoczesnych rozwiązań dla Was - naszych klientów.
  </h4>
  </div>
  <div id="image1">
  <img src="../../assets/about-image.jpg" alt="about">
  </div>
</div>
<div>
  <h1>
    Co robimy
  </h1>
  <h4>
    Każdego dnia tworzymy oprogramowanie, które rozwiązuje
    potrzeby użytkowników i znajduje swoje trwałe miejsce na
    rynku. Każda linia kodu jest tworzona z precyzją oraz
    ogromną pasją. To pozwala nam pisać czysty, wysokiej jakości
    kod, który jest łatwy do zrozumienia, utrzymania i rozszerzania
    przez innych programistów.
  </h4></div>
  <div id="image2">
  <img src="../../assets/about-image.jpg" alt="about">
  </div>
  <div>
  <h1>
    Nasza misja
  </h1>
  <h4>
    Naszą misją jest przekucie Twojego pomysłu w użyteczny,
    świetnie zaprojektowany, odnoszący sukces produkt.
    Przeprowadzimy Cię przez trudny początek, jakimi jest
    urzeczywistnienie Twojego pomysłu, wprowadzimy go na rynek
    i będziemy Cię wspierać również w późniejszej drodze, jaka Cię czeka.
  </h4>

  </div>

</div>
